.tables {
  background-color: yellow;
  display: flex;
  margin: 100px auto;
  width: 900px;
  justify-content: center;
}

.pockets button {
  height: 100px;
  width: 100px;
  font-size: 40px;
  border-radius: 20px;
  margin: 5px;
}

.firstPockets button {
  background-color: lightblue;
}

.secondPockets button{
  background-color: orange;
}

.subPocket {
  background-color: rgb(79, 236, 62);
  height: 190px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  border: 2px solid white;
  border-radius: 20px;
  margin: auto 5px;
}