.tables {
  background-color: rgb(223, 217, 203);
  display: flex;
  margin: 0px auto 0 50px;
  width: 900px;
  justify-content: center;
  border: 2px solid black;
  border-radius: 20px;
}

.pockets button {
  height: 100px;
  width: 100px;
  font-size: 40px;
  border-radius: 20px;
  margin: 5px;
}

.firstPockets button {
  background-color: #a0d7f0;
}

.firstPockets button:hover {
  background-color: #8ec6f0;
  transform: scale(1.05);
}

.secondPockets button{
  background-color: #f4b2a2;
}

.secondPockets button:hover {
  background-color: #f09c8f;
  transform: scale(1.05);
}

.subPocket {
  background-color: rgb(189, 226, 185);
  height: 190px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  border: 2px solid white;
  border-radius: 20px;
  margin: auto 5px;
}

.select-container {
  margin: 20px 0 20px 50px;
  display: flex;
}

.select-box {
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
}

.select-label {
  font-size: 16px;
  margin-bottom: 8px;
  font-weight: bold;
  color: #333;
}

.custom-select {
  font-size: 16px;
  padding: 4px 6px;
  border-radius: 8px;
  border: 2px solid #ccc;
  background-color: #f9f9f9;
  transition: border-color 0.3s ease;
  margin-left: 8px;
}

.custom-select:focus {
  border-color: #007bff;
  outline: none;
}

.custom-select:hover {
  border-color: #007bff;
}

.container {
  display: flex;
}

.game-button {
  height: 35px;
  width: 200px;
  margin-top: 18px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0, 0);
  margin-left: 30px;
  font-weight: bold;
  font-size: 16px;
  margin-right: 80px;
}

.game-button:active {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0);
  transform: translateY(2px);
}

.message {
  text-align: center;
}

.main-container {
  background-color: rgb(199, 209, 221);
  width: 1020px;
  padding: 10px;
  margin: 0 auto;
  border-radius: 30px;
}

h1 {
  /* display: block;
  margin: 0 auto; */
  text-align: center;
}

.header {
  border-bottom: 2px solid black;
  margin-bottom: 30px;
}

.log-list li {
  background-color: white;
  border-bottom: 1px solid #ddd;
  transition: background-color 0.3s;
  padding-left: 20px;
  margin-bottom: 3px;
}

.log-list li:hover {
  background-color: #f5f5f5;
  transform: translateY(-1px);
}

.log-container {
  width: 850px;
  margin: 0px auto;
  padding: 20px;
}

.log-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.log-button {
  margin-left: -950px;
  width: 100px;
  height: 30px;
}

.btn {
  height: 30px;
  margin-top: 20px;
  margin-right: 20px;
}

.btn-container {
  margin-left: 1000px;
}